.title {
    margin-bottom: 10px;
}

.button_div {
    display: flex;
    flex-direction: row;
    gap: 10px;

    margin-bottom: 10px;
}

.link {
    text-decoration: none;
    color: black;
    border: 2px black solid;
    background-color: white;
}

.link:hover {
    cursor: pointer;
    color: white;
    border: 2px white solid;
    background-color: black;
}

.company_table {
    border: 1px solid black;
    border-collapse: collapse;

    background-color: rgb(243, 240, 240);
}

.company_table thead {
    border: 1px solid black;
    background-color: lightgray;
}

.company_table th,
.company_table td{
    padding-left: 30px;
    padding-right: 30px;
}
.creationBackground{
    background-color: rgb(199, 199, 236);
}
.creationDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.creationBox {
    border: 5px black solid;
    padding: 10px;
    background-color: rgb(255, 255, 215);
}

.creationDiv2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 10px;
}