.LogoText {
    color: #0062ff;
    text-shadow: 2px 2px 2px #c7c7c7;
    font-size: 2.2rem;
    font-weight: 700;
    padding-bottom: 0.5rem;
    padding-left: 0.8rem;
}

.dashboard_grid {
    background-color: #f4f6f9;
    display: grid;
    grid-template-columns: 16rem auto;
    height: 100vh;
}

.dashboard_sidebar_div {
    background-color: #edf1f5;
    border-radius: 0px 1rem 1rem 0rem;
    border: 2px #c3c6ca solid;
    box-shadow: 1px 0px 7px #dbdfe4;
    padding: 1rem 0.5rem 2rem 1.4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 1rem;
    justify-content: space-between;
  
    position: sticky;
    top: 0;
    align-self: start;        
    height: 100vh;            
    overflow-y: auto;         
    z-index: 10;              
}

.sidebar_seperator_div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    width: 100%; 
}

.dashboard_content_div {
    background-color: #f4f6f9;
    padding-top: 5px;
    padding-left: 5px;
    
    overflow-y: auto;
    height: 100vh;
}

.link {
  text-decoration: none;
  color: #595a5e;
  font-size: 1.1rem;
  display: block; 
  width: 100%;
  padding: 0.7rem 0.8rem;
  border-radius: 0.5rem;
  transition: background-color 0.2s ease, color 0.2s ease;
  box-sizing: border-box;
  text-align: left;
}

/* Hover State */
.link:hover {
  cursor: pointer;
  color: #000;
  background-color: #e2e8f0; 
}


.active {
  background-color: #d0e1ff; 
  color: #1871ff;
  font-weight: 600;
}

.active:hover {
  background-color: #c2d6f5; 
}

.danger {
  color: #dc2626;
}
.danger:hover {
  color: #991b1b;
  background-color: #fee2e2; 
}