.backgroundColor{
    background-color: rgb(199, 199, 236);
    height: 100vw;
}

.profileGrid{
    padding-top: 10px;

    display: grid;
    grid-template-rows: auto auto;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.profileBox {
    border: 5px black solid;
    padding: 100px;
    background-color: rgb(255, 255, 215);
}

.buttonDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.profileOptions {
    display: flex;
    flex-direction: column;
    gap: 10px;
}